body{
    background: url(./image/tmhstore..png) no-repeat center center / cover;
    height: 380px;
}
.container{
    display: flex;
    justify-content: center;
}
.login footer{
    display: flex;
    justify-content: center;
}
.container h1 {
    text-align: center;
}
.container p {
    text-align: center;
}
.container h3{
    text-align:center;
    color: orange;
}
.login-footer{
    text-align: center;
    padding-top: -20px;
}
.ctn{
    background-color: aliceblue;
    border-radius: 20px;
    width: 30vw;
    margin: 15rem 27.3rem;
}